{% extends 'base.html.twig' %}

{% block title %}Skierowania{% endblock %}

{% block body %}
    <div class="container-sm w-25">
        <table class="table table-green">
            <thead>
            <tr><td colspan="8"><h1 class="text-center">Skieorwania</h1></td></tr>
            <tr>
                {% if DoctorReferrals== false %}
                    <th scope="col">Lekarz</th>
                {% else %}
                    <th scope="col">Pacjent</th>
                {% endif %}
                <th scope="col">Data wystawienia</th>
                <th scope="col">Zobacz Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            {% for referral in referrals %}
                <tr>
                    {% if DoctorReferrals== false %}
                        <td>{{ referral.doctor }}</td>
                    {% else %}
                        <td>{{ referral.patient }}</td>
                    {% endif %}
                    <td>{{ referral.dateOfIssue|date("d/m/Y") }}</td>
                    <td><a href="{{ path('referral',{referral: referral.id}) }}">
                            <button class="btn btn-green">Szczegóły</button>
                        </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
