$primary: #1b4a01;
.form {
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  margin-top: 175px;
  border-radius: 5px;
  color: $primary;

  h1 {
    color: $primary;
  }

  .form-control {
    &:focus {
      box-shadow: 0 4px 30px rgba(27, 74, 1, 0.4);
      border: 1px solid $primary;
    }
  }
}