{% extends 'base.html.twig' %}

{% block title %}Pracownik{% endblock %}

{% block body %}
    <div class="container-sm w-25">
        <table class="table table-green">
            <tbody>
            <tr><td colspan="8"><h1 class="text-center">Dane pracownika</h1></td></tr>
            <tr>
                <th>Imię</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ employee.surname }}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><a href="{{ path('change_password') }}">
                        <button class="btn btn-green">Zmień Hasło</button>
                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

