{% extends 'base.html.twig' %}

{% block title %}Badania{% endblock %}

{% block body %}
    <div class="container w-25">
        <table class="table table-green">
            <thead>
            <tr><td colspan="3"><h1 class="text-center">Badania krwi</h1></td></tr>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Godzina pobrania</th>
                <th scope="col">Operacje</th>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ test.date|date("d/m/Y") }}</td>
                    <td>{{ test.time|date("H:i") }}</td>
                    <td colspan=""><a href="{{ path('test_details',{test: test.id}) }}">
                            <button class="btn btn-green">Zobacz wyniki</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
